body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    float: none;
    clear: both;
    text-decoration: none;
    list-style: none;
}

#content {
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ddd;
    background: #eee;
}

header {
    padding: 15px;
    background: #229138;
}

header .title-subtitle {
    float: left;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    padding: 20px;
    margin-left: -55px;
    padding-left: 50px;
}

header h1, header p {
    margin: 0px;
    margin-left: 15px;
}

header p {
    color: #ddd;
}

header #logo {
    width: 65px;
    display: block;
    float: left;
    margin-top: 10px;
}

#favoritos-list {
    padding: 0px;
    margin: 0px;
}

.favorito-item{
    list-style: none;
    width: 31%;
    border: 1px solid #ddd;
    height: 120px;
    float: left;
    padding-top: 20px; 
    padding-bottom: 20px;
    color: gray;
    background: white;
    margin: 10px;
}

.favorito-item h4 {
    color: #444;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

.favorito-item .url {
    margin: 0px;
    padding: 0px;
    height: 45px;
    overflow: hidden;
    margin-top: 2px;
}

.favorito-item .content-data {
    float: left;
    margin-left: 20px;
}

.btn {
    font-size: 13px;
    border: 1px solid #ccc;
    border-color: #1976d2;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ddd;
    padding: 5px;
    text-decoration: none;
    color: white;
    background: #0074d9;
    cursor: pointer;
    margin-left: 5px;
}

.btn-editar {
    background: #0A0;
    border-color: #59a600;
}

.btn-eliminar {
    background: #e23237;
    border-color: #F54747;
}

.btn-default {
    background: #eaa615;
    border-color: #cc941c;
    color: white;
    margin-left: 0px;
}

.favorito-box {
    margin-left: 25px;
    background: white;
    color: black;
    border: 1px solid #ddd;
    width: 90%;
    min-height: 150px;
    padding: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.loading {
    margin: 25px;
}

footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    color: gray;
}